.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    
    margin-top: 40px;
    width: 90%;
    height: 760px;
    border-radius: 10px 10px 65px 10px;
    box-shadow: 15px 7px 15px lightgray;

    text-align: center;
    background-image: linear-gradient(lightcyan, floralwhite);

    font-family: Menlo;
    font-size: 20px;
}

.searchbox {
    padding-top: 20px;
}

.searchfield {
    width: 24%;
    height: 50px;
    border-radius: 5px 10px 25px 5px;
    text-align: center;

    border: 3px solid lightcyan;
    box-shadow: inset 5px 5px 15px lightgray;

    outline: snow;
}

.weatherbox {
    display: flex;
    flex-direction: column;
/*    justify-content: start;*/
    align-items: center;

    height: 650px;
    border-radius: 10px 10px 65px 10px;
    margin: 15px;

    box-shadow:inset 5px 5px 15px lightgray;
}

.header {

    margin-top: 20px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 50px;
    color: orange;

    box-shadow: 5px 5px 15px lightgray;
    border-radius: 10px ;
    font-family: Menlo;
}

